name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v4.0.0
        with:
          fetch-depth: 0

      - name: Set up JDK 1.11
        uses: actions/setup-java@v3.12.0
        with:
          distribution: 'adopt'
          java-version: '11'
          check-latest: true
          cache: 'maven'

      - name: License Header Check
        run: mvn license:check

      - name: Build
        run: mvn -B package --file pom.xml

      - name: Analyze
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mvn verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
          -Dsonar.login=$SONAR_TOKEN \
          -Dsonar.host.url=https://sonarcloud.io \
          -Dsonar.organization=insideapp-oss \
          -Dsonar.projectKey=insideapp-oss_sonar-flutter

      - name: Read version
        run: echo "version=$(mvn -q -Dexec.executable=echo -Dexec.args='${project.version}' --non-recursive exec:exec)" >> $GITHUB_ENV

      - name: Upload snapshot release
        if: github.ref == 'refs/heads/develop'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{github.workspace}}/sonar-flutter-plugin/target/*.jar
          tag: ${{env.version}}
          release_name: ${{env.version}}
          overwrite: true
          body: "Snapshot release"
          file_glob: true
          prerelease: true