name: CI

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.2
      - name: Set up JDK 1.11
        uses: actions/setup-java@v3.3.0
        with:
          distribution: 'adopt'
          java-version: '11'
          check-latest: true
          cache: 'maven'
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3.1.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }} #required
      - id: get-version
        name: Get maven project version
        uses: jactions/maven-version@v1.2.0
      - name: Upload plugin artifact
        uses: actions/upload-artifact@v3.1.0
        with:
          name: plugin
          path: sonar-flutter-plugin/target/sonar-flutter-plugin-${{ steps.get-version.outputs.version }}.jar