name: Publish release

on:
  release:
    types: [published]

jobs:
  build:
    name: Build and upload release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Set up JDK 1.11
        uses: actions/setup-java@v2.3.0
        with:
          distribution: 'adopt'
          java-version: '11'
          check-latest: true
          cache: 'maven'
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - name: Upload release artifact
        uses: shogo82148/actions-upload-release-asset@v1.3.1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: sonar-flutter-plugin/target/sonar-flutter-plugin-*.jar
